<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/head`, {SITE_TITLE: 'Next Lift'}); -%>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <noscript>
        <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <div id="root"></div>

    <%- include(`${partials}/scripts`); -%>
</body>
</html>
